<template lang='pug'>
  span
    | test
    b-modal(
      title="Error",
      :visible="showChunckLoadErrorDialog",
      @change="val => showChunckLoadErrorDialog = val",
      header-bg-variant="danger",
      @ok="handleOk",
      ok-title="Reload",
      header-text-variant="light"
    )
      p.my-4 An error has occured. This error normally happens after deployments. Reloading the page should solve the problem.
</template>

<script>
export default {
  methods: {
    handleOk () {
      location.reload()
    }
  },
  computed: {
    showChunckLoadErrorDialog: {
      get () {
        return this.$store.getters.showChunckLoadErrorDialog
      },
      set (value) {
        this.$store.commit('showChunckLoadErrorDialog', value)
      }
    }
  }
}
</script>
